@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.vh100ClassAux {
  height: 100vh;
  width: 100%;
}

.headerBase {
  background-color: rgb(228, 228, 228);
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
}