.logoNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(5rem, 6vw, 6rem);
  aspect-ratio: 2/1;
  object-fit: contain;
  background: url('/logos/originals_logo.svg') no-repeat center center;
  background-size: contain;
}

.ulNav {
  /* background-color: rgb(88, 88, 9); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.7rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.wrapperRightLinks {
  width: auto;
  /* background-color: brown; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.linkStyles {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  transition: transform 0.1s ease-in-out;

  &:hover {
    color: rgb(92, 92, 92);
    transform: translateY(-2px) scale(1.02);
  }
}